.login-modal {
    min-width: 300px;
}

.login-header-text {
 font-size: .8em;
 color: var(--gray);
 text-align: center;
}

.login-footer-text {
 font-size: .95em;
 color: var(--darkGray);
 text-align: center;
 padding-top: 1.5rem;
 font-weight: 600;
}

.login-forgot-password {
    display: block;
    text-align: right;
    font-size: .8rem;
    margin-top: 3px;
}


/*     BUTTONS  */
.button-login-email {
    font-size: .95rem;
    font-weight: 600;
    padding: 10px;
    width: 100%
    /*height: auto;*/
}

.login-external-button-group {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-bottom: 2rem;
}

.button-login-external {
    position: relative;
    font-size: .95rem;
    font-weight: 600;
    padding: 10px;
    height: 50px;
    /*height: auto;*/
}


.button-facebook {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
}
    .button-facebook:hover,
    .button-facebook:focus,
    .button-facebook:active {
        background: var(--blue);
        border-color: var(--blue);
    }

    .button-facebook > .svg-facebook {
        position: absolute;
        display: inline;
        width: 22px;
        height: 22px;
        fill: #fff;
        vertical-align: middle;
        top: 13px;
        left: 12px;

    }

    .button-facebook > span {
        display: inline;
        vertical-align: middle;
    }

.button-google {
    background-color: #4285F6;
    border: 1px solid #4285F6;
    color: #fff;
}


    .button-google:hover,
    .button-google:focus,
    .button-google:active {
        background: var(--brightestBlue);
        /*border-color: var(--lightestGray);*/
    }

    .button-google > .svg-google {
        position: absolute;
        display: inline;
        width: 28px;
        height: 28px;
        fill: #fff;
        vertical-align: middle;
        top: 11px;
        left: 12px;
    }

    .button-google > span {
        display: inline;
        vertical-align: middle;
    }

